@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.ficc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fic {
  display: flex;
  align-items: center;
}

.btn-bg {
  background: var(--danger, linear-gradient(90deg, #4776e6 0%, #8e54e9 100%));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
